---
layout: default
---
<div id="picture" itemscope itemtype="http://schema.org/BlogPosting">
  <p>
    <a href="{{ "/img/" | append: page.file }}" target="_blank">{{ page.title }}</a>
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date: "%b %-d, %Y" }}
    </time>
    &nbsp;|&nbsp;
    {% if page.previous.url %}
    <a href="{{ page.previous.url }}">previous</a>
    {% endif %}
    &nbsp;|&nbsp;
    {% if page.next.url %}
    <a href="{{ page.next.url }}">next</a>
    {% endif %}
  </p>
  <img class="img" src="{{ "/img/" | append: page.file }}"/>
</div>
